@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background: #fcfcfc;
}

.banner {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.4) 5%,
            rgba(255, 255, 255, 0)
        ),
        url("./assets/banner.jpg");
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    min-width: 400px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.grid-container {
    margin: auto;
    margin-bottom: 3rem;
    width: 80%;
    display: grid;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 100;
    transition: transform 350ms ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}

.nav-list-item {
    margin: 0.5rem 0;
    font-size: 1.4rem;
    opacity: 0;
    transition: opacity 200ms ease-in-out 250ms;
}

.nav-list-item a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    transition: border-bottom 250ms ease-in-out;
}

.nav-list-item a:hover {
    border-bottom: 5px solid #cbae86;
}

.nav-list-item .active {
    border-bottom: 5px solid #cbae86;
}

.nav-bars {
    font-size: 2.2rem;
    cursor: pointer;
}

.nav-bars-close {
    color: #fff;
    position: fixed;
    top: 8.5vh;
    right: 4vw;
}

.nav-bars:active {
    transform: scale(0.95);
}

.expanded {
    transform: scaleX(1);
}

.expanded .nav-list-item {
    opacity: 1;
}

.order-button-link {
    display: none;
}

.order-button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #000;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.order-button a {
    color: #000;
    text-decoration: none;
}

.order-button-large {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background: transparent;
    border: 2px solid #000;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 5px;
    transition: letter-spacing 250ms ease-in-out;
}

.order-button-large:hover {
    letter-spacing: 0.2rem;
}

.order-button-large:active {
    transform: scale(0.95);
}

.order-button-large a {
    color: #000;
    text-decoration: none;
}

.banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
}

/*menu output*/
.menu-container {
    width: 80%;
    margin: 1rem auto;
    border-left: 2px solid #cbae86;
    padding-left: 5%;
}

.menu-heading {
    position: relative;
    text-transform: capitalize;
    padding: 1.5rem 0;
    font-size: 2.5rem;
}

.menu-heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 0;
    width: 100px;
    height: 2px;
    background: #cbae86;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.menu-item-title {
    flex-basis: 50%;
    padding-right: 0.25rem;
}

.menu-item-center {
    flex: 1;
    text-align: left;
    margin-top: 0.25rem;
    padding-right: 0.25rem;
}

.addToCartBtn {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background: #cbae86;
    outline: none;
    cursor: pointer;
    float: right;
    flex-basis: 50%;
}

/*hidden menu*/
.hidden-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    opacity: 1;
    z-index: 1;
}

.hidden-nav-list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    color: #cbae86;
    font-size: 1.6rem;
    cursor: pointer;
}

.hidden-nav-list svg:hover + .hidden-nav-title {
    transform: scale(1);
}

.hidden-nav-title {
    position: absolute;
    font-size: 1rem;
    margin-left: 2.5rem;
    color: #000;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

/*meals sections*/
.section-grow {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 3;
}
.section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border: none;
    outline: none;
    transition: transform 350ms ease-in-out;
}
.section:hover {
    transform: scale(1.05);
}
.section:hover > .section__heading {
    transform: scale(1.1);
}

.section__heading {
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform 700ms ease-in-out;
}

.anchor-noline {
    color: black;
    text-decoration: none;
}

/*section backgrounds*/
.breakfast {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.3) 5%,
            rgba(255, 255, 255, 0)
        ),
        url("./assets/brekkie.jpg");
    background-size: cover;
    background-position: left center;
}

.lunch {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.3) 5%,
            rgba(255, 255, 255, 0)
        ),
        url("./assets/lunch.jpg");
    background-size: cover;
    background-position: left center;
}

.dinner {
    background-image: radial-gradient(
            rgba(255, 255, 255, 0.3) 5%,
            rgba(255, 255, 255, 0)
        ),
        url("./assets/dinner.jpg");
    background-size: cover;
    background-position: left center;
}

.popup-cart {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    position: fixed;
    padding: 0;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #e92e2e;
    transition: right 1s ease-in-out;
}

.cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    width: Calc(100% + 1rem);
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    position: sticky;
    top: -10px;
    background: #e92e2e;
}

.closeCartBtn {
    padding: 5px 10px 5px;
    cursor: pointer;
}

.cart-js {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0;
}

.deleteItemBtn {
    padding: 0.5rem;
    background: transparent;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 0.8rem;
    cursor: pointer;
}

.deleteMe {
    display: none;
}

.orderNowBtnSec {
    position: sticky;
    bottom: -10px;
    width: 100%;
    background: #e92e2e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.orderNowBtn {
    padding: 1rem;
    font-size: 1rem;
    background: transparent;
    border: none;
    width: 60%;
    cursor: pointer;
}

/*locations styling*/
.location-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem 1rem;
}

.location-card {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: transform 1s;
}

.location-card:hover {
    transform: translateY(-0.5rem);
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.location__name {
    width: 100%;
    color: white;
    text-align: center;
    clear: both;
    text-transform: uppercase;
}

#welly {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./assets/welly.jpg");
    background-size: cover;
    background-position: center;
}

#upper {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./assets/upperhutt.jpg");
    background-size: cover;
    background-position: center;
}

#akl {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./assets/akl.jpg");
    background-size: cover;
    background-position: center;
}

#chch {
    background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./assets/chch.jpg");
    background-size: cover;
    background-position: center;
}

.location__info {
    font-weight: 700;
    text-decoration: underline;
}

table {
    margin: auto;
}
table td {
    padding: 5px 0;
}
table td:nth-child(even) {
    padding: 5px 10px;
}

.branch-info {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.address,
.phone {
    flex: 1;
}

.team-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 2rem 1rem;
}

.team-card {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: transform 1s;
}
.team-card:hover {
    transform: translateY(-0.5rem);
}

.team__name {
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
}

.team__position {
    font-size: 0.8rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

input,
textarea,
select {
    padding: 0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    outline: none;
}

select {
    outline: none;
}

.submitBtn {
    width: 6rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: #cbae86;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 0.7rem;
    text-align: center;
}

/*# sourceMappingURL=sass.css.map */
@media (min-width: 578px) {
    html {
        font-size: 112%;
    }
    header {
        padding: 1rem 3rem;
    }
    .location-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}
@media (min-width: 768px) {
    .menu-item-title {
        flex-basis: 30%;
    }

    .menu-item-center {
        margin-top: 0;
    }

    .addToCartBtn {
        flex-basis: auto;
        order: 3;
    }

    nav {
        flex: 0.9;
        width: 50%;
    }

    .nav-list {
        justify-content: space-around;
        flex-direction: row;
        transform: scale(1);
        background: transparent;
        position: relative;
    }

    .nav-list-item {
        opacity: 1;
        font-size: 1rem;
    }

    .nav-list-item a {
        color: #000;
    }

    .nav-bars {
        display: none;
    }

    .order-button-link {
        display: block;
    }

    .row {
        flex-direction: row;
    }

    .hidden-nav-list {
        font-size: 2rem;
    }

    .hidden-nav-title {
        margin-left: 3rem;
    }
}
